---
layout: null
---
/* 
©2022 Christian Pfeiffer
Informationen über die Verwendung von Drittkompeten und die anwendbaren Lizenzbedingungen finden Sie unter https://fonts.pc-cdn.eu/license.html
*/
{% assign font_files = site.static_files | where: "font", true %}
 {% for myfontfiles in font_files %}
  {% if myfontfiles.extname == '.ttf' %}
    {% if myfontfiles.basename contains 'Regular') %}
/* {{ myfontfiles.basename }} = regular */
@font-face {
  font-family: '{{ myfontfiles.basename }}';
  font-style: normal;
  font-weight: 400;
  src : url('{{ myfontfiles.path }}') format('truetype');
}
@font-face {
  font-family: '{{ myfontfiles.basename }}::MENU';
  font-style: normal;
  font-weight: 400;
  src : url('{{ myfontfiles.path }}') format('truetype');
}{% elsif myfontfiles.basename contains 'Italic') %}
/* {{ myfontfiles.basename }} = italic */
@font-face {
  font-family: '{{ myfontfiles.basename }}';
  font-style: italic;
  font-weight: 400;
  src : url('{{ myfontfiles.path }}') format('truetype');
}
/* {{ myfontfiles.basename }} = italic */
@font-face {
  font-family: '{{ myfontfiles.basename }}::MENU';
  font-style: italic;
  font-weight: 400;
  src : url('{{ myfontfiles.path }}') format('truetype');
}{% else %}
/* {{ myfontfiles.basename }} no Regular no Italic */
@font-face {
  font-family: '{{ myfontfiles.basename }}';
  font-style: normal;
  font-weight: 400;
  src : url('{{ myfontfiles.path }}') format('truetype');
}
@font-face {
  font-family: '{{ myfontfiles.basename }}::MENU';
  font-style: normal;
  font-weight: 400;
  src : url('{{ myfontfiles.path }}') format('truetype');
}{% endif %}
{% endif %}
{% endfor %}
