---
layout: null
---
/* 
©2022 Christian Pfeiffer
Informationen über die Verwendung von Drittkompeten und die anwendbaren Lizenzbedingungen finden Sie unter https://fonts.pc-cdn.eu/license.html
*/

{% assign font_files = site.static_files | where: "font", true %}
 {% for myfontfiles in font_files %}
  {% if myfontfiles.extname == '.ttf' %}
@font-face {
  font-family: '{{ myfontfiles.basename }}';
  /* font-style: normal; */
  /* font-weight: 400; */
  src: url(https://fonts.pc-cdn.eu{{ myfontfiles.path }}) format('ttf');
  /* {{ myfontfiles.name }}:{{ myfontfiles.modified_time }} */
}
  {% endif %}
 {% endfor %}
