---
layout: null
---
/* 
©2022 Christian Pfeiffer
Informationen über die Verwendung von Drittkompeten und die anwendbaren Lizenzbedingungen finden Sie unter https://fonts.pc-cdn.eu/license.html
*/

{% assign font_files = site.static_files | where: "font", true %}
 {% for myfontfiles in font_files %}
  {% if myfontfiles.extname == '.ttf' %}
    {% if myfontfiles.basename contains 'Regular') %}
/* {{ myfontfiles.basename }} = regular */
@font-face {
  font-family: '{{ myfontfiles.basename }}';
  font-style: normal;
  font-weight: 400;
  /* src: url('{{ myfontfiles.basename }}.eot'); /* IE9 Compat Modes */
  src: local(''),
       /* url({{ myfontfiles.basename }}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       /* url('.{{ myfontfiles.basename }}.woff2') format('woff2'), /* Super Modern Browsers */
       /* url('{{ myfontfiles.basename }}.woff') format('woff'), /* Modern Browsers */
       url('{{ myfontfiles.path }}') format('truetype'), /* Safari, Android, iOS */
       /* url('{{ myfontfiles.basename }}.svg#{{ myfontfiles.basename }}') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: '{{ myfontfiles.basename }}::MENU';
  font-style: normal;
  font-weight: 400;
  /* src: url('{{ myfontfiles.basename }}.eot'); /* IE9 Compat Modes */
  src: local(''),
       /* url({{ myfontfiles.basename }}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       /* url('.{{ myfontfiles.basename }}.woff2') format('woff2'), /* Super Modern Browsers */
       /* url('{{ myfontfiles.basename }}.woff') format('woff'), /* Modern Browsers */
       url('{{ myfontfiles.path }}') format('truetype'), /* Safari, Android, iOS */
       /* url('{{ myfontfiles.basename }}.svg#{{ myfontfiles.basename }}') format('svg'); /* Legacy iOS */
}
  {% elsif myfontfiles.basename contains 'Italic') %}

/* {{ myfontfiles.basename }} = italic */
@font-face {
  font-family: '{{ myfontfiles.basename }}';
  font-style: italic;
  font-weight: 400;
  /* src: url('{{ myfontfiles.basename }}.eot'); */ /* IE9 Compat Modes */
  src: local(''), 
       /* url({{ myfontfiles.basename }}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       /* url('{{ myfontfiles.basename }}.woff2') format('woff2'), /* Super Modern Browsers */
       /* url('{{ myfontfiles.basename }}.woff') format('woff'), /* Modern Browsers */
       url('{{ myfontfiles.path }}') format('truetype'), /* Safari, Android, iOS */
       /* url('{{ myfontfiles.basename }}.svg#{{ myfontfiles.basename }}') format('svg'); /* Legacy iOS */
}
/* {{ myfontfiles.basename }} = italic */
@font-face {
  font-family: '{{ myfontfiles.basename }}::MENU';
  font-style: italic;
  font-weight: 400;
  /* src: url('{{ myfontfiles.basename }}.eot'); */ /* IE9 Compat Modes */
  src: local(''), 
       /* url({{ myfontfiles.basename }}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       /* url('{{ myfontfiles.basename }}.woff2') format('woff2'), /* Super Modern Browsers */
       /* url('{{ myfontfiles.basename }}.woff') format('woff'), /* Modern Browsers */
       url('{{ myfontfiles.path }}') format('truetype'), /* Safari, Android, iOS */
       /* url('{{ myfontfiles.basename }}.svg#{{ myfontfiles.basename }}') format('svg'); /* Legacy iOS */
}
  {% else %}
/* {{ myfontfiles.basename }} no Regular no Italic */
@font-face {
  font-family: '{{ myfontfiles.basename }}';
  font-style: normal;
  font-weight: 400;
  /* src: url('{{ myfontfiles.basename }}.eot'); */ /* IE9 Compat Modes */
  src: local(''), 
       /* url({{ myfontfiles.basename }}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       /* url('{{ myfontfiles.basename }}.woff2') format('woff2'), /* Super Modern Browsers */
       /* url('{{ myfontfiles.basename }}.woff') format('woff'), /* Modern Browsers */
       url('{{ myfontfiles.path }}') format('truetype'), /* Safari, Android, iOS */
       /* url('{{ myfontfiles.basename }}.svg#{{ myfontfiles.basename }}') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: '{{ myfontfiles.basename }}::MENU';
  font-style: normal;
  font-weight: 400;
  /* src: url('{{ myfontfiles.basename }}.eot'); */ /* IE9 Compat Modes */
  src: local(''), 
       /* url({{ myfontfiles.basename }}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       /* url('{{ myfontfiles.basename }}.woff2') format('woff2'), /* Super Modern Browsers */
       /* url('{{ myfontfiles.basename }}.woff') format('woff'), /* Modern Browsers */
       url('{{ myfontfiles.path }}') format('truetype'), /* Safari, Android, iOS */
       /* url('{{ myfontfiles.basename }}.svg#{{ myfontfiles.basename }}') format('svg'); /* Legacy iOS */
}
  {% endif %}
 {% endif %}
{% endfor %}
